In [3]:
import numpy as np
import pandas as pd

In [4]:

dataset_url = 'D:/all/train.csv'
titanic_train = pd.read_csv(dataset_url, sep=',')
titanic_train=titanic_train.drop(['PassengerId','Name','Ticket'], axis=1)
titanic_train.head(3)
#titanic_train.shape

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S

In [5]:
dataset_url = 'D:/all/test.csv'
titanic_test = pd.read_csv(dataset_url, sep=',')
titanic_test=titanic_test.drop(['PassengerId','Name','Ticket'], axis=1)
titanic_test.head(3)
#titanic_test.shape

   Pclass     Sex   Age  SibSp  Parch    Fare Cabin Embarked
0       3    male  34.5      0      0  7.8292   NaN        Q
1       3  female  47.0      1      0  7.0000   NaN        S
2       2    male  62.0      0      0  9.6875   NaN        Q

In [6]:
dataset_url = 'D:/all/gender_submission.csv'
test_y = pd.read_csv(dataset_url, sep=',')
test_y = test_y.drop(['PassengerId'], axis=1)
test_y.head(3)
#titanic_gender_submission.shape

   Survived
0         0
1         1
2         0

In [7]:
#titanic_train = len(titanic_train)
dataset =  pd.concat(objs=[titanic_train, titanic_test], axis=0).reset_index(drop=True)
dataset.head(2)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

    Age Cabin Embarked     Fare  Parch  Pclass     Sex  SibSp  Survived
0  22.0   NaN        S   7.2500      0       3    male      1       0.0
1  38.0   C85        C  71.2833      0       1  female      1       1.0

In [8]:
#Data Cleaning
dataset.isnull().sum()

#titanic_train['Age'].hist()

Age          263
Cabin       1014
Embarked       2
Fare           1
Parch          0
Pclass         0
Sex            0
SibSp          0
Survived     418
dtype: int64

In [9]:
dataset.Age=dataset['Age'].fillna(dataset['Age'].mean())
dataset.Fare=dataset['Fare'].fillna(dataset['Fare'].median())
dataset.Embarked=dataset['Embarked'].fillna('S')

dataset.head(3)
#dataset.describe(include=object)

    Age Cabin Embarked     Fare  Parch  Pclass     Sex  SibSp  Survived
0  22.0   NaN        S   7.2500      0       3    male      1       0.0
1  38.0   C85        C  71.2833      0       1  female      1       1.0
2  26.0   NaN        S   7.9250      0       3  female      0       1.0

In [10]:
#Replace the Cabin number by the type of cabin 'X' if not
dataset["Cabin"] = pd.Series([i[0] if not pd.isnull(i) else 'X' for i in dataset['Cabin'] ])
print(np.unique(dataset["Cabin"]))
#print(np.unique(dataset["Survived"]))
dataset.describe(include='object')
#dataset = pd.get_dummies(dataset, columns = ["Cabin"],prefix="Cabin")

['A' 'B' 'C' 'D' 'E' 'F' 'G' 'T' 'X']

       Cabin Embarked   Sex
count   1309     1309  1309
unique     9        3     2
top        X        S  male
freq    1014      916   843

In [11]:
dataset=pd.get_dummies(dataset)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 20 columns):
Age           1309 non-null float64
Fare          1309 non-null float64
Parch         1309 non-null int64
Pclass        1309 non-null int64
SibSp         1309 non-null int64
Survived      891 non-null float64
Cabin_A       1309 non-null uint8
Cabin_B       1309 non-null uint8
Cabin_C       1309 non-null uint8
Cabin_D       1309 non-null uint8
Cabin_E       1309 non-null uint8
Cabin_F       1309 non-null uint8
Cabin_G       1309 non-null uint8
Cabin_T       1309 non-null uint8
Cabin_X       1309 non-null uint8
Embarked_C    1309 non-null uint8
Embarked_Q    1309 non-null uint8
Embarked_S    1309 non-null uint8
Sex_female    1309 non-null uint8
Sex_male      1309 non-null uint8
dtypes: float64(3), int64(3), uint8(14)
memory usage: 79.3 KB

In [12]:
dataset.head(3)

,Age,Fare,Parch,Pclass,SibSp,Survived,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,22.0,7.2500,0,3,1,0.0,0,0,0,0,0,0,0,0,1,0,0,1,0,1
1,38.0,71.2833,0,1,1,1.0,0,0,1,0,0,0,0,0,0,1,0,0,1,0
2,26.0,7.9250,0,3,0,1.0,0,0,0,0,0,0,0,0,1,0,0,1,1,0

In [13]:
titanic_train, titanic_test = dataset[:891], dataset[891:]
titanic_train.isnull().sum()
test_x=titanic_test.drop(['Survived'], axis=1)

In [14]:
#titanic_test=titanic_test.drop(['Survived'], axis=1)
dataset.head(3)
#dataset.shape
titanic_train['Survived'] = titanic_train['Survived'].astype(int)
titanic_train.head(3)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Age,Fare,Parch,Pclass,SibSp,Survived,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,22.0,7.2500,0,3,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1
1,38.0,71.2833,0,1,1,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0
2,26.0,7.9250,0,3,0,1,0,0,0,0,0,0,0,0,1,0,0,1,1,0

In [15]:
train_y = titanic_train['Survived']
train_x = titanic_train.drop('Survived', axis= 1)
train_y.head(3)

0    0
1    1
2    1
Name: Survived, dtype: int32

In [16]:
from sklearn.linear_model import LogisticRegression
logit1=LogisticRegression()
logit1.fit(train_x,train_y)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
predicition=logit1.predict(test_x)

In [18]:
###Confusion matrix with sklearn
from sklearn.metrics import confusion_matrix
confusion_matrix(test_y,predicition)

array([[253,  13],
       [  9, 143]], dtype=int64)

In [19]:
from sklearn.metrics import classification_report
report=classification_report(test_y,predicition)
print(report)

              precision    recall  f1-score   support

           0       0.97      0.95      0.96       266
           1       0.92      0.94      0.93       152

   micro avg       0.95      0.95      0.95       418
   macro avg       0.94      0.95      0.94       418
weighted avg       0.95      0.95      0.95       418

In [20]:
# Gradient Boosting Classifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score,make_scorer
gbk = GradientBoostingClassifier()
gbk.fit(train_x, train_y)
y_pred = gbk.predict(test_x)
acc_gbk = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_gbk)

87.8

In [21]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logreg = LogisticRegression()
logreg.fit(train_x, train_y)
y_pred = logreg.predict(test_x)
acc_logreg = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_logreg)

94.74

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [22]:
# Stochastic Gradient Descent
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import accuracy_score
sgd = SGDClassifier()
sgd.fit(train_x, train_y)
y_pred = sgd.predict(test_x)
acc_sgd = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_sgd)

63.64

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:166: FutureWarning: max_iter and tol parameters have been added in SGDClassifier in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  FutureWarning)

In [23]:
# KNN or k-Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,f1_score
knn = KNeighborsClassifier()
knn.fit(train_x, train_y)
y_pred = knn.predict(test_x)
acc_knn = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_knn)

71.53

In [24]:
# Linear SVC
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
linear_svc = LinearSVC()
linear_svc.fit(train_x, train_y)
y_pred = linear_svc.predict(test_x)
acc_linear_svc = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_linear_svc)

88.76

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\svm\base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [25]:
# Support Vector Machines
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
svc = SVC()
svc.fit(train_x, train_y)
y_pred = svc.predict(test_x)
acc_svc = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_svc)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

74.16

In [26]:
# Gaussian Naive Bayes
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
gaussian = GaussianNB()
gaussian.fit(train_x, train_y)
y_pred = gaussian.predict(test_x)
acc_gaussian = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_gaussian)

86.84

In [27]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier as dt
clf=dt(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [28]:
parameters = {'max_depth':[1,2,3,4,5], 'min_samples_leaf':[1,2,3,4,5], 'min_samples_split':[2,3,4,5], 'criterion' : ['gini','entropy']}
scorer = make_scorer(f1_score)
grid_obj = GridSearchCV(clf, parameters, scoring=scorer)
grid_fit = grid_obj.fit(train_x, train_y)
best_clf = grid_fit.best_estimator_
best_clf

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [31]:
#Decision Tree
from sklearn.metrics import accuracy_score
y_pred =  grid_fit.predict(test_x)
acc_decisiontree = round(accuracy_score(y_pred, test_y) * 100, 2)
print(acc_decisiontree)

87.32

In [28]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
randomforest = RandomForestClassifier(n_estimators=1000)
randomforest.fit(train_x, train_y)
y_pred = randomforest.predict(train_x)
y_pred1 = randomforest.predict(test_x)
#Calculate the f1_score of the new model.
print('The training F1 Score is', f1_score(y_pred, train_y))
print('The testing F1 Score is', f1_score(y_pred1, test_y))
#acc_randomforest = round(accuracy_score(y_pred, test_y) * 100, 2)
#print(acc_randomforest)

The training F1 Score is 0.9823008849557523
The testing F1 Score is 0.7443365695792881